{% extends 'base.html.twig' %}

{% block title %}ajouter une categorie{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>
        Ajouter une catégorie
    </h2>
    {{form(form)}}

</div>
{% endblock %}